# Node modules
**/node_modules/

# Environment files
**/.env

config/firebaseServiceAccount.json


# Firebase
**/.firebase/

# OS-specific files
.DS_Store
Thumbs.db
backend/config/firebaseServiceAccount.json
